Package: northrays-runner
Version: ${VERSION}
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Northrays <support@northrays.com>
Description: Northrays Runner
 The Northrays Runner manages execution of jobs and sandboxes
 for the Northrays development environment platform.
Homepage: https://github.com/northrays/sandbox-platform
